.input-group-selectbox select{
	border: 1px solid #cfd5db;
	border-radius: 6px 6px 0px 0px;
	height: 44px;
	line-height: 4px;
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 15px;
	width: auto;
}
input[type=number] {
	-moz-appearance:textfield; /* Firefox */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}.tel-select-div select{
	border: none !important; 
	color: #ffffff;
	font-family: sans-serif;
	font-size: 15px;
}.tel-select-div select option{
	color: black;
}
/* Preloader */
.bg-preloader{
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: blue;
	z-index: 9999;
}.cp-preloader{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10000;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
}.cp-preloader__letter{
	display: inline-block;
	position: relative;
	overflow: hidden;
	color: rgba(0, 0, 0, .3);
	font-size: 6rem;
	letter-spacing: 1rem;
}
@media only screen and (max-width: 720px){
	.cp-preloader__letter{
		font-size: 2rem;
		letter-spacing: 0rem;
	}
	.content-wrapper{padding: 0 !important; }
}
.cp-preloader__letter:before{
	color: #fff;
	content: attr(data-preloader);
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation-duration: 3s;
			animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
	-webkit-animation-fill-mode: backwards;
			animation-fill-mode: backwards;  
}.cp-preloader__letter:nth-child(2):before{
	-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
}.cp-preloader__letter:nth-child(3):before{
	-webkit-animation-delay: 0.45s;
			animation-delay: 0.45s;
}
.cp-preloader__letter:nth-child(4):before{
	-webkit-animation-delay: 0.6s;
			animation-delay: 0.6s;
}.cp-preloader__letter:nth-child(5):before{
	-webkit-animation-delay: 0.75s;
			animation-delay: 0.75s;
}.cp-preloader__letter:nth-child(6):before{	
	-webkit-animation-delay: 0.9s;
			animation-delay: 0.9s;
}
.cp-preloader__letter:nth-child(7):before{	
	-webkit-animation-delay: 1.05s;			
			animation-delay: 1.05s;
}
.cp-preloader_type4 .cp-preloader__letter:before{	
	-webkit-animation-name: cp-preloader4;			
			animation-name: cp-preloader4;
}
@-webkit-keyframes cp-preloader4{
	0%, 100%{	  -webkit-transform: rotateY(-90deg) scale(1);			  transform: rotateY(-90deg) scale(1);	  opacity: 0;	}
	20%, 50%{	  -webkit-transform: rotateY(0) scale(1);			  transform: rotateY(0) scale(1);	  opacity: 1;	}
	75%{	  -webkit-transform: rotateY(0) scale(1.2);			  transform: rotateY(0) scale(1.2);	  opacity: 0;	}
}
@keyframes cp-preloader4{
	0%, 100%{	  -webkit-transform: rotateY(-90deg) scale(1);			  transform: rotateY(-90deg) scale(1);	  opacity: 0;	}
	20%, 50%{	  -webkit-transform: rotateY(0) scale(1);			  transform: rotateY(0) scale(1);	  opacity: 1;	}
	75%{	  -webkit-transform: rotateY(0) scale(1.2);			  transform: rotateY(0) scale(1.2);	  opacity: 0;	}
}

.timeline-content a{
	line-height: 15px;
	
}